<app-header></app-header>

<!-- <div class="mainAll">

    <div class="mainTop">

        <div class="video-container">
            <div class="video-overlay"></div>
            <video autoplay muted loop class="background-video">
                <source src="../../assets/videos/275633_small.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>

            <div class="video-content">
                <h1>Your Featured Film</h1>
                <button class="cta-button">Watch Now</button>
            </div>
        </div>

    </div>

    <div class="mainBotton">

    </div>

</div> -->

<div class="main">
    <div class="video-container">
        <!-- <div class="video-overlay"></div> -->
        <video autoplay muted loop class="background-video">
            <source src="../../assets/videos/275633_small.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

        <div class="video-wrapper main-pd">
            <div class="video-description">
                <h1>Your Featured Film</h1>
                <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem nesciunt enim in quis
                    fuga animi rem impedit vitae? Blanditiis veniam quasi assumenda libero tenetur quis nam excepturi?
                    Quasi, iste asperiores?</span>
                <div class="cta-button"><img src="../../assets/img/mainImg/play_arrow.svg" alt="Log Out" width="24" height="24">Play</div>
            </div>
            <div class="video-description-spacer">
                <!-- Hier kannst du Inhalte reinpacken oder leer lassen als Spacer -->
            </div>
        </div>
    </div>
</div>