<!-- log in page -->

<div *ngIf="isLogin" class="background">
    <div class="content">
        <h2>Log in</h2>
        <form>
            <input formControlName="email" placeholder="Email" />
            <div class="inputContainer">
                <input formControlName="password" [type]="type" placeholder="Password">
                <span (click)="togglePasswordVisibility()" class="the-eye visibility_on"
                    [ngClass]="{'visibility_on': !isText, 'visibility_off': isText }"></span>
            </div>
            <button class="loginButton" type="submit">Log in</button>
        </form>
        <div class="contentBotton">
            <a routerLink="/forgotPW">Forgot password?</a>
            <span>
                <p>New to Videoflix?</p><a routerLink="/forgotPW">Sign Up now</a>
            </span>
        </div>
    </div>
</div>

<!-- forgot password page -->

<div *ngIf="isForgotPW" class="background">
    <div class="content">
        <h2>Forgot your<br>password?</h2>
        <span class="secondHeadline">We will send you an email with instructions to reset your password.</span>
        <form>
            <input formControlName="email" placeholder="Email" />
            <div class="inputContainer">
                <button class="loginButton" type="submit">Send Email</button>
            </div>
        </form>
    </div>
</div>